 nav { text-align: center; background: #ebebeb}
 body { font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777
    background: #777
    width: 960px;
    font-size: 18px; }
 header { text-align: center;
    background: #ebebeb }
 h1 h2 h3 p { text-align: left; word-wrap: break-word; background: #ebebeb }
 aside { text-align: right; word-wrap: break-word; }
 footer { text-align: center; background: #ebebeb }