nav {
   background: #ebebeb;
   height: 80px;
   
}
.top {
   height: 80px;
}
body {
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   color: #777;
   background: #777;
   width: 950px;
   font-size: 18px;
   text-align: center;
   margin: auto;
}
header {
   height: 10px;
}
section {
   background: #ebebeb;
   height: 80px;
}
p {
   color: #777;
   background: #ebebeb;
}
.box-set {
   position: relative;
   width: 960px;
   z-index: 1;
   background-color: #777
}
.article {
   color: #ebebeb;
   background-color: #777 ;
   width: 450px;
   height: 125px;
   padding: 5px;
   margin-left: 5%;
   padding-left: 5%;
   padding-right: 5%;
   padding-bottom: 5%;
}
aside {
   width: 300px;
   height: 122px;
   background: #ebebeb;
   float: right;
   padding: 5%;
   
}
section {
   width: 550px;
   float: left;
   background: #ebebeb;
   height: 225px;
}
 .headers {
   background-color: #ebebeb;
   color: #777;
   align-items: center;
   padding: 10px; 
   height: 25%; 
}
.paragraphs { 
   background-color: #ebebeb;
   color: #777;
   align-items: center;
   padding-top: 10px; 
   height: 25%; 
}
.clearfix::after {
   content: "";
   display: block;
   clear: both;
}

.footer {
   background: #ebebeb;
   margin: 80px;
   width: 900px;
}

.bottom {
   height: 70px;
}